{% extends 'base.html' %}
{% block title %} Edit a user {% endblock %}
{% block content %}

<h1>Edit {{user.full_name}}</h1>
<form method = 'POST'>
    <div>
        <label>First Name</label>
        <div>
            <input type="text" name="first_name" value="{{user.first_name}}">
        </div>
    </div>

    <div>
        <label>Last Name</label>
        <div>
            <input type="text" name="last_name" value="{{user.last_name}}">
        </div>
    </div>

    <div>
        <label>Image URL</label>
        <div>
            <input type="text" name="image_url" value="{{user.image_url}}">
        </div>
    </div>

    <div>
        <div>
            <a href="/users/{{user.id}}">Cancel</a>
            <button type="submit" > Save </button>
        </div>
    </div>
</form>
{% endblock %}