{% extends 'base.html' %}
{% block title %} New User Form {% endblock %}
{% block content %}

<h1>Create a user</h1>
<form method = 'POST'>
    <div>
        <label>First Name</label>
        <div>
            <input type="text" name="first_name" placeholder="Enter a first name">
        </div>
    </div>

    <div>
        <label>Last Name</label>
        <div>
            <input type="text" name="last_name" placeholder="Enter a last name">
        </div>
    </div>

    <div>
        <label>Image URL</label>
        <div>
            <input type="text" name="image_url" placeholder="Provide an image of this user">
        </div>
    </div>

    <div>
        <div>
            <button type="submit" > Add </button>
        </div>
    </div>
</form>
{% endblock %}